# Set URL for your scoped packages.
@niga9l:registry=https://gitlab.ficto.ru/api/v4/npm/

# Add the token for the scoped packages URL. This will allow you to download
//github.com/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}

//github.com/api/v4/projects/38/packages/npm/:_authToken=${CI_JOB_TOKEN}